Differential evolution/Assignment 2 - Differential Evolution.pdf
Fuzzy logic/.DS_Store
.DS_Store
Fuzzy logic/Algorithm for Implementation of a Fuzzy System.pptx
Fuzzy logic/Ass_1_ml2020.docx
Fuzzy logic/Fuzzy Systems in BDS.pptx
Supervised Learning/Linear Regression/sample_submission_V2.csv
Supervised Learning/Linear Regression/train_V2.csv
Supervised Learning/Linear Regression/test_V2.csv
Supervised Learning/Linear Regression/.ipynb_checkpoints/Assignment_3_problem-checkpoint.ipynb
.pdf
.docx
.vscode/settings.json
stats_venv/
